.recipes {
  @include container;
  margin-top: 6rem;

  //header starts
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
  .MuiFilledInput-underline:after {
    border-color: $bg-primary !important;
  }
  #select {
    width: 10vw;
  }

  #outlined-basic {
    @include breakpoint-up(sm) {
      width: 40vw;
    }
  }
  //header ends

  //displayContainer style starts
  .displayContainer {
    margin-top: 4rem;
  }

  //displayContainer style ends
}
