@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Titan+One&display=swap");

$bg-gradient: linear-gradient(90deg, #ff8008 0%, #ff950a 100%);
$bg-dark: rgba(28, 25, 25, 0.76);
$bg-light: #fff8f8;
$text-light: #fff;
$text-dark: black;
$light-shadow: 0px 0px 5px silver;
$bg-primary: #ff8008;
$bg-grey: lightgray;

$margin-top: 10vh;
$primary-family: "Poppins", sans-serif;
$secondary-family: "Titan one", cursive;

$navMenu-index: 10;
$overlay-index: 9;
$navbar-index: 8;
